{% extends 'base.html' %}
{%block title%}{{title}}{%endblock%}

{% block content%}

{% for i in page_obj.object_list%}
<div class="card">
    <h5 class="card-header"><a href="{{i.category.get_absolute_url}}">{{i.category.title}}</a>
    </h5>
    <div class="card-body">
        <div class="media">
            {% if i.photo%}
            <img src="{{ i.photo.url }}" width="300" alt="" align="left"
                 vspace="5" hspace="5">
            {%else%}
            <img src="http://pbs.twimg.com/profile_images/1108430392267280389/ufmFwzIn.png"
                 width="300" alt="" align="left"
                 vspace="5" hspace="5">
            {% endif%}

            <div class="media-body">
                <h5 class="card-title"><a href="{{i.get_absolute_url}}">{{i.title}}</a></h5>
                <p class="card-text">{{i.short_content}}</p>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{i.created_at}}
    </div>
</div>
{%endfor%}
{%endblock%}
